/*************************************************************************
* This is the SKIN style definition for the CSS menu.                    *
* Feel free to customize this section.                                   *
*************************************************************************/

/*
 * Menu container settings
 * Applies to the first level menu container
 */
.horizmenu {
	font-family: Tahoma, Arial, sans-serif;
	font-size: 11px;
	font-weight:bold;
	text-align:center;
	}

/*
 * Menu container settings
 * Applies to second (or more) level menu containers
 */
.horizmenu ul {}

/*
 * Menu items settings
 * Applies to all menu items in all menu containers
 */
.horizmenu li {}

/*
 * Menu items settings
 * Applies to second (or more) level menu items
 */
.horizmenu ul li {
	margin: 0px;
	width: 180px;
	background-image:none;
	background: #c20000;
	border-bottom: solid 1px #e20000;
	color:#fff;	
	
}
/*
 * Menu link settings
 * Applies to links that are to be found within the menu items, no matter the menu level
 */
.horizmenu a {
	text-decoration: none;
	color: #fff;
	line-height: 42px;
	cursor: pointer;
	padding:0px 15px;
	background: url(../images/menu_sep.gif) top right no-repeat;
}

/*
 * Menu link settings
 * Applies to links located in the second (or more) level menu items
 */
.horizmenu ul a {
background-image:none;
color:#fff;
font-weight:bold;
line-height:25px;
padding:0px 14px;
text-decoration:none;
text-transform: none;
}


/***************************************************************************
* In this section, we will define what happens when mouse-overing an item  *
***************************************************************************/

/*
 * Mouse over on menu items
 * Applies to all menu items in all menu containers
 */
.horizmenu li.hover {
	background: none;
}
  
/*
 * Mouse over on menu items
 * Applies to second (or more) level menu items
 */
.horizmenu ul li.hover {
	background: #730000;
}

/*
 * Mouse over on links
 * Applies to all links in all menu items
 */
.horizmenu a.hover {
	color:#fff !important;
	background: url(../images/menu_sep.gif) top right no-repeat #730000;	
	text-decoration:none; 	

	
}

/*
 * Mouse over on links
 * Applies to links located in the second (or more) level menu items
 */
.horizmenu ul a.hover {
  	color:#fff !important;
	background: #730000;
	line-height:25px;
	padding:0px 14px;
	 text-decoration:none;
	
}

/*****************************************************************************
* In this section, we will define what happens when a menu item is selected  *
*****************************************************************************/

/*
 * Selected menu item
 * Applies to selected menu items in all menu containers
 */
.horizmenu li.selected {
}

/*
 * Selected menu item
 * Applies to second (or more) level selected menu items
 */
.horizmenu ul li.selected {
}

/*
 * Selected links
 * Applies to selected links in all menu items
 */
.horizmenu a.selected {
	color:#fff;background: url(../images/menu_sep.gif) top right no-repeat #730000;
}

/*
 * Selected links
 * Applies to selected links located in the second (or more) level menu items
 */
.horizmenu ul a.selected {
	color: #fff;background: #730000;
	}


/******************************************************************************
* In this section, we will define the menu arrows behavior                    *
* An arrow is inserted next to the menu item when the menu item has sub-menus *
******************************************************************************/

/* 
 * Define the arrow
 * Applies to all menu items that have sub-menus
 */
.horizmenu .arrow {
	/* background-image:url(img/grey_arrow.gif);
	background-repeat: no-repeat;
	background-position: 9px center;  */
}

/* 
 * Define the arrow
 * Applies to all menu items that have sub-menus located in the second (or more) level
 */
.horizmenu .hover ul .arrow,
.horizmenu ul .arrow {
	background-image:url(img/arrow_sub.png);
	background-position:right;
	margin-right:8px;
}

/* 
 * Define the arrow on mouse over
 * Applies to all menu items that have sub-menus on mouse over
 */
.horizmenu .hover .arrow {
	/* background-image:url(img/white_arrow_vertical.gif); */
}

/* 
 * Define the arrow on mouse over
 * Applies to all menu items that have sub-menus located in the second (or more) level on mouse over
 */
.horizmenu ul .hover .arrow {
	 background-image:url(img/arrow_sub.png); 
	 background-position:right;
	 margin-right:8px;
	
}
/*************************************************************************
* This is the LAYOUT style definition for the CSS menu                   *
* DO NOT alter this section, unless you know what you're doing           *
*************************************************************************/
div.horizontal {
	clear: both;
	
}
div.horizontal br {
	clear: both;
	
}
div.horizontal ul {
	margin: 0px;
	padding: 0px;
	display: block;
	float: left;
	clear: both;
	
}
div.horizontal li {
	list-style-type: none;
	display: block;
	float: left;
	clear: none;
	text-align: left;
    position: static;
}
div.horizontal li img {
	border: none;
}
div.horizontal a {
	clear: both;
	display: block;
	margin: 0px; 
}
div.horizontal ul li ul {
	position: absolute;
	left: -5000px;
	top: -5000px;
	visibility: hidden;
	clear: both; 
}
div.horizontal ul li ul li {
	clear: both; 
}
div.horizontal ul li ul li a {
	clear: both;
}
.hasImg,
.hasImg a {
	padding: 0px !important;
	margin:	0px	!important;
	border:	none !important;
	outline: none !important;
	background:	transparent !important;
	width: auto !important;
}