/* @override 
	http://localhost:8888/joomla/1.5/elevate2/templates/skeleton-template/css/template_css.css
	http://localhost:8888/joomla/1.5/elevate2/templates/JB_Elevate2/css/template_css.css
*/

/* -- Additional Style sheets --*/


* 
{font-weight: normal;font-family: inherit;	font-style: inherit; font-size: 100%; outline: 0;padding: 0;margin: 0;vertical-align: top;text-align: left} 
img, a {border: none}
tr td p {margin: 0}
fieldset.input,fieldset {border: none}
body, html {height: 100%;width: 100%;margin: 0;padding: 0}
table {width: 100%;clear: both}
ul,ol,ul.menu {margin: 10px 0 10px 0px;padding: 0}
ul li{padding: 4px 0;list-style-type: disc;margin: 0 0 0 16px}
ol li {padding: 4px 0;margin: 0 0 0 16px;list-style-type: decimal}

body {background: #fff; font-family: Helvetica, Arial, sans-serif, Verdana; line-height: 1.8em; color: #444;width: 100%;text-align: left}

h1,.componentheading {font-size: 2.8em;line-height: 1.2em;margin: 0;padding: 0;font-family: georgia}
h2,.contentheading {font-size: 2.2em;line-height: 1.5em;margin: 0;padding: 0;font-family: georgia;position: relative;z-index: 1;}
h3,.moduletable h3 {font-size: 2.4em;line-height: 1.3em;margin: 0 0 10px 0;padding:0 0 4px 0;background: none}
h4 {font-size: 1.2em;line-height: 1.3em;margin: 0 0 0.25em 0;padding: 0}
h5 {font-size: 1.1em;line-height: 1.3em;margin: 0 0 0.25em 0;padding: 0}
h6 {font-size: 1em;line-height: 1.3em;margin: 0 0 0.25em 0;padding: 0}
span.author {float: right;width: 100%;text-align: right;font-style: italic;margin: 8px 0 20px}

h1,.componentheading {color: #333} 
h2,.contentheading,h2 a {color: #333}
h3,.moduletable h3 {color: #333;font-size: 1.6em}
h4 {color: #333} 
h5 {color: #fff;background: #333;padding: 2px 0 2px 4px}
h6 {color: #fff;background: #999;padding: 2px 0 2px 4px}

p{margin: 8px 0}
pre {font-family: monospace;font-size: 1.0em}
strong, b {font-weight: bold}
em, i {font-style:italic}
code {font-family: "Courier New", Courier, monospace;font-size: 1em;white-space: pre}
dl {margin: 0 0 1.5em 0;padding: 0;line-height: 1.4em}
dl dt {font-weight: bold;margin: 0.25em 0 0.25em 0;padding: 0}
dl dd {margin: 0 0 0 30px;padding: 0}


/* Link Colours */
a,a:link,#nav a#active_menu.mainlevel_current,#nav ul li a:hover,#nav a.mainlevel_active,#nav .mainlevel_current  {color: #375D81}
a:hover {color: #333} 

/* Reverse colours for links on dark backgrounds */
.topRow a,.footerRow a,.grid6Row a {color: #fff;}
.topRow a:hover,.footerRow a:hover {color: #375D81}
.grid6Row a:hover {color: #fff}


/* Second Level dropdown menu colours */
#nav ul li li a {border-bottom: 1px solid #ddd;color: #333;} 

/* Sub level link hover colours */
#nav ul li li a:hover {background: #eee;color: #375D81}

/* Sub level parent items */
#nav ul li li span.expanded {background: url(../common/images/icons/blueFlowerHeadingSml.png) no-repeat 8px 12px}
 
/* Left, Right and panel menu settings */
#leftCol span.expanded:hover,#rightCol span.expanded:hover {color: #375D81}
#leftCol ul li a:hover,#rightCol ul li a:hover {background: #f9f9f9;color: #375D81}

/* Content heading styling */
.contentheading {background-image: url(../common/images/icons/blueFlowerHeading.png);padding:8px 0 8px 40px}

/* Microblog override */
.mbWrapFlat h2 {background: url(../common/images/icons/blueFlowerHeading.png) no-repeat left center}


/* Default h3 - flower module classes */
.moduletable h3,.moduletable-flat h3,.moduletable-dark h3,.moduletable-light h3,.moduletable-cream h3,.moduletable-green h3,.moduletable-orange h3,.moduletable-blue h3,.moduletable-pink h3,.moduletable-rose h3,.moduletable-red h3,.moduletable-bright h3,.moduletable-purple h3,.moduletable-lightgreen h3 {background: url(../common/images/icons/blueFlowerHeading.png) no-repeat left 2px}

/* Read More styling */
.readon {background: url(../common/images/icons/blueFlowerHeading.png) no-repeat left center}